.mb20 {
    margin-bottom: 20px;
    border: 1px solid rgba(0,0,0,.125);
    padding: 20px 0px 20px 0px;
    margin: 0px 10px 0px 10px;
    background-color: #FFCC99;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.mb21 {
    margin-bottom: 20px;
    border: 1px solid rgba(0,0,0,.125);
    padding: 20px 0px 20px 0px;
    margin: 0px 5px 0px 5px;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.nav20 {
    border: 2px solid rgba(0,0,0,.125); 
    padding: 20px 0px 20px 0px; 
    // background-color: ;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    // background-color: #FFCC99;
    color: black;
    text-align: right;
    padding-right: 30px;
 }